[general]
name={{name}}
description={{description}}
about={{description}}
version=0.1
qgisMinimumVersion=3.0
author={{author}}
email={{email}}
repository=
changelog=
keywords=qgis,python
category=Plugins
icon=icon.png
preview_info=
experimental=False
deprecated=False
